In [1]:
import pandas as pd
import pickle

In [2]:
submission = pd.read_csv('data/dummy.csv')
submission.head()

          0.5
class4      p
nonevent  0.5
nonevent  0.5
nonevent  0.5
nonevent  0.5

In [3]:
with open('results/acc2.pkl','rb') as f:
    acc2 = pickle.load(f)

with open('results/final_confidences.pkl','rb') as f:
    final_confidences = pickle.load(f)

with open('results/final_predictions.pkl','rb') as f:
    final_predictions = pickle.load(f)

In [4]:
new_indexes = ['class4']
for prediction in final_predictions:
    if prediction == 0:
        new_indexes.append('nonevent')
    elif prediction == 1:
        new_indexes.append('Ia')
    elif prediction == 2:
        new_indexes.append('Ib')
    elif prediction == 3:
        new_indexes.append('II')
    else:
        raise Exception
        
submission = submission.set_index(pd.Index(new_indexes))

In [5]:
submission = submission.rename(columns={'0.5':acc2})
for i in range(len(final_predictions)):
    submission[acc2][i+1] = final_confidences[i]
submission.head()

          0.901747
class4           p
Ia        0.796358
nonevent  0.201053
II        0.987733
Ib        0.976383

In [6]:
submission.to_csv('s.csv')

In [7]:
# Remove the first , in the generated s.csv. There might be better way to do this.
with open('s.csv') as f:
    with open('answers.csv','w') as f1:
        for index,line in enumerate(f.readlines()):
            if index == 0:
                f1.write(line[1:])
            else:
                f1.write(line)

!rm s.csv

In [8]:
# Check the submission.csv
!Rscript --vanilla data/lint.r

During startup - Warning messages:
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"
Everything seems to be ok.

In [9]:
test = submission.copy()
test.reset_index()['index'].value_counts()

nonevent    513
II          297
Ib          143
Ia           12
class4        1
Name: index, dtype: int64